*{
    font-family: helvetica, arial, sans-serif;
}

html {
    background-color: white;
}


#container {
    position: relative;
    background-color: white;
    max-width: 1000px;
    margin: auto;
    padding: 2% 5%;
}

header {
    background-color: white;
    margin-bottom: 10%;
}

header img{
    opacity: 1;
    display: block;
    width: 50%;
    height: auto;
}

header img:hover {
    opacity: 0.8;
}

#full {
    position: relative;
}

#full img {
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0.7;
}

#list {
    background-color: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

#list2 {
    position: absolute;
    bottom: 20%;
    left: 2%;
    width: 96%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15%;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: 100%;
}

.text {
    opacity: 0;
    position: absolute;
    top: 60%;
    left: 20%;
    text-align: left;
    color: white;
    font-family: helvetica, arial, sans-serif;
    font-weight: bold;
    font-size: 16px;
}

.text-full {
    opacity: 1;
    position: absolute;
    top: 5%;
    left: 2.5%;
    text-align: left;
    color: #E2001A;
    font-weight: bold;
    font-size: 20px;
}

.survol {
    position: relative;
}

.survol .figure {
	 background: #E2001A;
}

.survol .figure img {
	 opacity: 1;
	  -webkit-transition: .3s ease-in-out;
	   transition: .3s ease-in-out;
}

.survol .figure:hover img {
	 opacity: .5;
}

.survol .figure:hover .text {
    transition: .5s ease;
    opacity: 1;
}

.survol canvas{
    position: absolute;
    bottom: -20px;
    opacity: 0.7;
}

.survol .info-text {
    opacity: 0;
    position: absolute;
    bottom: 9%;
    left: 10%;
    text-align: left;
    color: white;
    font-family: helvetica, arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
}

footer {
    position: relative;
    background-color: white;
    margin-top: 10%;
}

footer .social{
    display: inline-block;
    width: 50%;
    height: 50px;
}

footer img{
    opacity: 1;
    display: inline-block;
    width: 50px;
    height: 50px;
}

footer img:hover {
    opacity: 0.8;
}

footer .form{
    margin-bottom: 60px;
}

.form>p{
    display: none;
}

footer p{
    display: inline-block;
    color: #E2001A;
    font-weight: bold;
    font-size: 20px;
}

footer .made-by{
    display: inline-block;
    width: 49.5%;
    text-align: right;
}

footer input[type=email] {
    width: 30%;
    border: solid 3px #E2001A;
    padding: 1%;
    color: #E2001A;
    font-weight: bold;
    font-size: 20px;
}

footer a{
  color: #E2001A;
  font-weight: bold;
  font-size: 20px;
}
footer input::placeholder {
    color: #E2001A;
    opacity: 0.5;
}
footer input[type=submit]:hover {
    opacity: 0.5;
}

footer input[type=submit] {
    border: solid 3px #E2001A;
    background-color: #E2001A;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    padding: 1%;
    cursor: pointer;
    color: white;
    font-family: helvetica, arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
}
